@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
  --loaderheight: 2rem;
  --maincolor: #304A20;
  --pointcolor: #961B40;
}


*{margin: 0; padding: 0;}
a, a:visited, a:hover{text-decoration: none; display: block;}
ul{list-style: none;}
body{ min-width: 760px;;
  font-family: 'Orbit-Regular', 'Noto Sans KR';
  /*클릭방지*/
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrap{margin: 0 auto; position: relative;}
.center{margin:0 165px; min-width:760px;}



/*탑버튼*/
.topBtn:hover .link__arrow{transform: scale(1.3) translate(-11.5px, -11.5px);}


/*😁header*/
#header{height:250px;background-color: rgba(255, 255, 255, 0.72); backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px); transition: all .5s;}
#header>.center{position:relative; display:flex; justify-content: space-between; align-items: center;}
  #logo{height:250px;}
    #logo a{color:#979797; font-weight: normal; display:flex; flex-flow: column; height: 100%; justify-content: center; align-items: center; gap:15px; position:relative; }
    #header #logo>a::after{content: ''; height:1px; background:#979797; position:absolute; top:53%; left:50%; transform:translate(-50%, -47%); animation:logobar .7s .2s both;}
      @keyframes logobar{
        0%{opacity: 0; width:0;}
        100%{opacity: 1; width:100%; }
        }
    #logo a>p{font-size:24px;}
    /*#header.on*/
    #header.on{position:fixed; top:0; left:0; width:100%; z-index: 99999;}
    #header.on, #header.on #logo{height:80px;}
    #header.on #logo a{flex-flow: initial; gap:40px;}
    #header.on #logo>a::after{content: ''; width:1px; height:34px; background:#000; position:absolute; top:50%; left:56%; transform:translate(-44%,-50%); animation:logobar2 .7s .2s both;}
    @keyframes logobar2{
      0%{opacity: 0; height:0;}
      100%{opacity: 1; height:34px; }
      }

  #gnb ul{display:flex;}
  #gnb li>a{font-size:25px; padding:0 20px; color:#999;text-transform: capitalize;}
  #gnb li>a:hover, #gnb li.on>a{color:var(--maincolor);}




/*😁index------------------------------------------------------*/


section:not(#slide){padding:80px 0;}

  /*😀slide ----------------------*/
  #slide, .swiper{height:600px;}

    #slide .swiper-slide{display:flex; align-items: flex-start; justify-content: center; flex-direction: column; text-align: center;}
    #slide .swiper-slide>div{width: 50%; display:flex; flex-flow: column; align-items: center;}
        #slide .swiper-slide span{font-size:25px; text-transform: uppercase; }
        #slide .swiper-slide p{word-break: keep-all; max-width: 500px; margin:20px 0;}
        #slide .swiper-slide .visitBtn{ line-height:25px; border-radius: 25px; border:1px solid var(--maincolor);}#slide .swiper-slide .visitBtn a{color:var(--maincolor); padding:0 15px;}
        #slide .swiper-slide .visitBtn:hover { background:var(--maincolor);} #slide .swiper-slide .visitBtn:hover a{color:#fff;}

        #slide .swiper-slide.slideDark .visitBtn{border:1px solid #fff;} #slide .swiper-slide.slideDark .visitBtn a{color:#fff;}
        #slide .swiper-slide.slideDark .visitBtn:hover{background:#fff;}
        #slide .swiper-slide.slideDark .visitBtn:hover a{color:var(--maincolor);}



      #slide .swiper-slide.txtR{align-items: flex-end;} 

    #slide .swiper-slide.swiper-slide-active span{animation:slideTxt .7s .2s both;}
    #slide .swiper-slide.swiper-slide-active p{animation:slideTxt 1.5s .2s both;}
    #slide .swiper-slide.swiper-slide-active .visitBtn{animation:slideTxt 2s .2s both;}
    @keyframes slideTxt{
      0%{opacity: 0; transform: translateY(30px);}
      100%{opacity: 1; transform: translateY(0);}
      }




  /*😀about ----------------------*/
  #about{background:url(../img/bg_pattern_slash.png)0 0 repeat;}
  #about>.center{display:flex; justify-content: center;}

  #about>.center>div{padding:0 35px;}
  #about>.center>div:first-child{border-right:1px solid var(--maincolor); box-sizing: border-box;}
    
    /*.ab_box1*/
    .ab_box1 .profile_img{max-width:290px; border-radius: 50%; overflow: hidden;;}
    .ab_box1 h3{margin:10px 0 15px;}
    .ab_box1 ul{display:flex; flex-flow: column; align-items: baseline;}
    .ab_box1 li{position:relative; margin-left:10px; margin-bottom:10px; padding:0 2px;}
      .ab_box1 li, .ab_box1 li>a{color:#333; text-align: left; font-size:15px;}
      .ab_box1 .kakao_qrcode img{width:100px;}
        .ab_box1 li:hover{background: rgba(158, 220, 100, 0.2);}
        .ab_box1 li:nth-child(2n):hover{background: rgba(204, 156, 101, 0.2);}
      .ab_box1 li::before{content: ''; width:5px; height:5px; border-radius: 50%; background:var(--maincolor); position:absolute; left:-10px; top:9px;}

    /*.ab_box2*/
    .ab_box2{margin:0 auto;}
    .ab_box2 ul{display:flex; flex-flow:column; align-items: end; justify-content: center;}
    .ab_box2 li{padding:5px 15px; box-sizing: border-box; position:relative; margin-bottom:40px; max-width: 400px; }
      .ab_box2 li::before{content: ''; width:100%; height:100%; border-radius: 20px; background:#D9D9D9; position: absolute; left:0; top:0; z-index: -1; box-shadow: 0 3px 6px #D9D9D9;}
      .ab_box2 li:nth-child(2n+1)::before{background:#a1ad99; box-shadow: 0 3px 6px #888f83;}
      .ab_box2 li::after{position: absolute; bottom:0; right: 0; content: " "; height: 0; border-bottom: 10px solid; border-left: 6px solid rgba(0, 0, 0, 0); border-right: 6px solid rgba(0, 0, 0, 0); color: #cecece; transform: rotate(20deg); -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -o-transform: rotate(20deg); -ms-transform: rotate(20deg); z-index: -2;}
      .ab_box2 li:nth-child(2n+1)::after{color:#8b9782}

      .ab_box2_keyword{display:flex; flex-flow:wrap; justify-content: center;}
        .ab_box2_keyword div{width: 50%; margin:0 7px; position:relative; width:100px; height:100px; display:flex; align-items: center; justify-content: center; color:#fff;}.ab_box2_keyword div:first-child{width:100%;}
          .ab_box2_keyword div::after{content: ''; width:100px; height:100px; width:100px; height:100px; border-radius: 50%; background:var(--maincolor); box-shadow: 0 3px 6px #D9D9D9; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); z-index: -1;}



          
  /*😀project ----------------------*/
  .pro_title{font-size:30px; font-weight:bold; line-height:70px;}
  .pro_box>ul{display:flex; gap:30px; flex-wrap:wrap; font-size: 0; }
  .pro_box>ul>li{max-width:calc(50% - 15px); position:relative; overflow: hidden;}
  .pro_box>ul>li img{width:100%;}

  .pro_box_inner{width:100%; font-size: 15px; padding: 30px; box-sizing: border-box; display:flex; flex-flow: column; justify-content: center; position:absolute; bottom:-100%; left:0; background:rgba(0, 0, 0, .75); color:#fff; transition: all .3s;-moz-transition: all .3s; -webkit-transition:all .3s; -o-transition: all .3s;}
  
  .pro_box>ul>li:hover .pro_box_inner{bottom:0;}
            /*작업 부분 마우스 hover시 나타나는 박스*/
            .pro_box_innerTxt{word-break: keep-all; display: -webkit-box; white-space: normal; line-height: 1.3em; height: 7.3em; word-wrap: break-word; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden; margin-bottom:15px;}
            .pro_box_innerTxt>h3{font-weight: normal; line-height: 1.7em;}

            .pro_box_innerTxt .verTxt{position:relative;}
            .pro_box_innerTxt .verTxt::after{content: ''; width:100%; height:1.3em; position:absolute; -webkit-transform: skew(-20deg); -moz-transform: skew(-20deg); transform: skew(-20deg); background:rgba(158, 220, 100, 0.3); left:3px; top:0;}

            .pro_box_inner .moreBtn{border-radius: 15px; border:1px solid #ffee00; line-height:28px; float:right;}
            .pro_box_inner .moreBtn a{color:#ffee00; display:block; padding:0 15px;}
            .pro_box_inner .moreBtn:hover{background:#000;}




  /*😀contact ----------------------*/
  #contact{background:#f7f7f7;}
  #contact ul{display:flex; justify-content: space-evenly;}
    #contact ul>li>a>lord-icon{ width:150px; height:150px;}
    #contact ul>li>a>div{border:1px solid transparent; border-radius: 15px; background-image: linear-gradient(#f7f7f7, #f7f7f7), linear-gradient(129deg,#304a20,#629110); background-origin: border-box; background-clip: content-box, border-box;}
    #contact ul>li>a>div span{
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(129deg,#304a20,#629110); font-size:17px; line-height:30px; display:block; text-align: center; }
    #contact ul>li>a>div:hover{
      background:linear-gradient(129deg,#304a20,#629110);}#contact ul>li>a>div:hover span{ background-image: linear-gradient(129deg,#fff,#fff); font-weight: bold;}

/*😁footer-----------------------------------------------------*/
#footer{padding:50px 0;}
#footer address{font-style: normal; text-align: center;}
@media screen and (max-width:1090px){
.center{margin:0 auto; width:760px;}
}
