@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
  --loaderheight: 2rem;
  --maincolor: #304A20;
  --pointcolor: #961B40;
}


*{margin: 0; padding: 0;}
a, a:visited, a:hover{text-decoration: none; display: block;}
ul{list-style: none;}
body{ min-width: 760px;;
  font-family: 'Orbit-Regular', 'Noto Sans KR';
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrap{margin: 0 auto; position: relative;}
.center{margin:0 165px; min-width:760px;}

    /*loading*/
    .loader {
      height: var(--loaderheight);
      width: 14rem;
      border-radius: var(--loaderheight);
      position: relative;
      overflow: hidden;
    }
    .loader::after {
      content: '';
      position: absolute;
      width: 10rem;
      height: var(--loaderheight);
      border-radius: var(--loaderheight);
      background: white;
      box-shadow: 0 -0.6rem 0 rgba(220, 100, 160, 0.2) inset;

      animation: slide 2s ease-in-out both;
    }
    .loader:hover{
      animation-play-state: paused;
    }
    @keyframes slide {
      0% {
        left: -7rem;
      } 
      
      100% {
        width:14rem;
        left: 0;
      } 
    }


/*탑버튼*/
.topBtn .link__text{animation:rotate normal infinite 15s linear;transform-origin: 50% 50%;}
.topBtn:hover .link__arrow{transform: scale(1.3) translate(-11.5px, -11.5px);}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/*header*/
#header{height:250px;background-color: rgba(255, 255, 255, 0.72); backdrop-filter: saturate(180%) blur(20px); -webkit-backdrop-filter: saturate(180%) blur(20px); transition: all .5s;}
#header>.center{position:relative; display:flex; justify-content: space-between; align-items: center;}
  #logo{height:250px;}
    #logo a{color:#979797; font-weight: normal; display:flex; flex-flow: column; height: 100%; justify-content: center; align-items: center; gap:15px; position:relative; }
    #header #logo>a::after{content: ''; height:1px; background:#979797; position:absolute; top:53%; left:50%; transform:translate(-50%, -47%); animation:logobar .7s .2s both;}
      @keyframes logobar{
        0%{opacity: 0; width:0;}
        100%{opacity: 1; width:100%; }
        }
    #logo a>p{font-size:24px;}
    /*#header.on*/
    #header.on{position:fixed; top:0; left:0; width:100%; z-index: 99999;}
    #header.on, #header.on #logo{height:80px;}
    #header.on #logo a{flex-flow: initial; gap:40px;}
    #header.on #logo>a::after{content: ''; width:1px; height:34px; background:#000; position:absolute; top:50%; left:56%; transform:translate(-44%,-50%); animation:logobar2 .7s .2s both;}
    @keyframes logobar2{
      0%{opacity: 0; height:0;}
      100%{opacity: 1; height:34px; }
      }

  #gnb ul{display:flex;}
  #gnb li>a{font-size:25px; padding:0 10px; color:#999;text-transform: capitalize;}
  #gnb li>a:hover, #gnb li.on>a{color:var(--maincolor);}




/*index------------------------------------------------------*/

section:not(#slide){padding:80px 0;}

  /*😀slide ----------------------*/
  #slide, .swiper{height:600px;}

    #slide .swiper-slide{display:flex; align-items: flex-start; justify-content: center; flex-direction: column; color:#999; text-align: center;}
    #slide .swiper-slide span{width: 50%;}

      #slide .swiper-slide.txtR{align-items: flex-end;} 

    #slide .swiper-slide.swiper-slide-active span{animation:slideTxt .7s .2s both;}
    @keyframes slideTxt{
      0%{opacity: 0; transform: translateY(30px);}
      100%{opacity: 1; transform: translateY(0);}
      }

  /*😀about ----------------------*/
  #about{background:url(../img/bg_pattern_slash.png)0 0 repeat;}
  #about>.center{display:flex; justify-content: center;}

  #about>.center>div{padding:0 35px;}
  #about>.center>div:first-child{border-right:1px solid var(--maincolor); box-sizing: border-box;}
    
    /*.ab_box1*/
    .ab_box1 .profile_img{max-width:290px; border-radius: 50%; overflow: hidden;;}
    .ab_box1 h3{margin:10px 0 15px;}
    .ab_box1 ul{display:flex; flex-flow: column; align-items: baseline;}
    .ab_box1 li{position:relative; margin-left:10px; margin-bottom:10px; padding:0 2px;}
      .ab_box1 li, .ab_box1 li>a{color:#333; text-align: left; font-size:15px;}
      .ab_box1 .kakao_qrcode img{width:100px;}
        .ab_box1 li:hover{background: rgba(158, 220, 100, 0.2);}
        .ab_box1 li:nth-child(2n):hover{background: rgba(204, 156, 101, 0.2);}
        .ab_box1 li:last-child:hover{background:none;}
      .ab_box1 li::before{content: ''; width:5px; height:5px; border-radius: 50%; background:var(--maincolor); position:absolute; left:-10px; top:9px;}

    /*.ab_box2*/
    .ab_box2{margin:0 auto;}
    .ab_box2 ul{display:flex; flex-flow:column; align-items: end; justify-content: center;}
    .ab_box2 li{padding:5px 10px; position:relative; margin-bottom:40px; word-break: keep-all; max-width: 400px; }
      .ab_box2 li::before{content: ''; width:100%; height:100%; border-radius: 20px; background:#D9D9D9; position: absolute; left:0; top:0; z-index: -1; box-shadow: 0 3px 6px #D9D9D9;}
      .ab_box2 li:nth-child(2n+1)::before{background:#a1ad99; box-shadow: 0 3px 6px #888f83;}
      .ab_box2 li::after{position: absolute; bottom:0; right: 0; content: " "; height: 0; border-bottom: 10px solid; border-left: 6px solid rgba(0, 0, 0, 0); border-right: 6px solid rgba(0, 0, 0, 0); color: #cecece; transform: rotate(20deg); -webkit-transform: rotate(20deg); -moz-transform: rotate(20deg); -o-transform: rotate(20deg); -ms-transform: rotate(20deg); z-index: -2;}
      .ab_box2 li:nth-child(2n+1)::after{color:#8b9782}

      .ab_box2_keyword{display:flex; flex-flow:wrap; justify-content: center;}
        .ab_box2_keyword div{width: 50%; margin:0 7px; position:relative; width:100px; height:100px; display:flex; align-items: center; justify-content: center; color:#fff;}.ab_box2_keyword div:first-child{width:100%;}
          .ab_box2_keyword div::after{content: ''; width:100px; height:100px; width:100px; height:100px; border-radius: 50%; background:var(--maincolor); box-shadow: 0 3px 6px #D9D9D9; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); z-index: -1;}
          
  /*😀project ----------------------*/
  .pro_box ul{display:flex;}
  .pro_box li{width:50%;}
  .pro_box li img{width:100%;}
